### USCRN Data: High-Octane Scraping

This notebook contains the initial scrape and upload to BigQuery for the USCRN historical weather data. The DAG contained in the file `airflow/dags/uscrn_dag.py` adds to the main data table created by this notebook.

In [1]:
import requests
import pandas as pd 
import numpy as np
import yaml 
import re
import itertools
from datetime import datetime, timedelta
from bs4 import BeautifulSoup

with open ("../airflow/data/sources.yaml", "r") as yaml_file:
  sources = yaml.load(yaml_file, Loader=yaml.FullLoader)

#### 1.) Column Headers and Descriptions

In [8]:
header_url = sources['USCRN']['headers']
header_response = requests.get(header_url)
header_soup = BeautifulSoup(header_response.content, "html.parser")

columns = str(header_soup).split("\n")[1].strip(" ").split(" ")
columns = list(map(lambda x: str.lower(x), columns)) # columns = [str.lower(c) for c in columns] -- faster?
columns.insert(0,'station_location')

descrip_text = str(header_soup).split("\n")[2] # raw text block containing column descriptions
descrip_text

"The station WBAN number. The UTC date of the observation. The UTC time of the observation. Time is the end of the observed hour, so the 0000 hour is actually the last hour of the previous day's observation (starting just after 11:00 PM through midnight). The Local Standard Time (LST) date of the observation. The Local Standard Time (LST) time of the observation. Time is the end of the observed hour (see UTC_TIME description). The version number of the station datalogger program that was in effect at the time of the observation. Note: This field should be treated as text (i.e. string). Station longitude, using WGS-84. Station latitude, using WGS-84. Average air temperature, in degrees C, during the last 5 minutes of the hour. See Note F. Average air temperature, in degrees C, for the entire hour. See Note F. Maximum air temperature, in degrees C, during the hour. See Note F. Minimum air temperature, in degrees C, during the hour. See Note F. Total amount of precipitation, in mm, recorded during the hour. See Note F. Average global solar radiation, in watts/meter^2. QC flag for average global solar radiation. See Note G. Maximum global solar radiation, in watts/meter^2. QC flag for maximum global solar radiation. See Note G. Minimum global solar radiation, in watts/meter^2. QC flag for minimum global solar radiation. See Note G. Type of infrared surface temperature measurement: 'R' denotes raw (uncorrected), 'C' denotes corrected, and 'U' when unknown/missing. See Note H. Average infrared surface temperature, in degrees C. See Note H. QC flag for infrared surface temperature. See Note G. Maximum infrared surface temperature, in degrees C. QC flag for infrared surface temperature maximum. See Note G. Minimum infrared surface temperature, in degrees C. QC flag for infrared surface temperature minimum. See Note G. RH average for hour, in percentage. See Note I. QC flag for RH average. See Note G. Average soil moisture at 5 cm below the surface, in m^3/m^3. See Note K. Average soil moisture at 10 cm below the surface, in m^3/m^3. See Note K. Average soil moisture at 20 cm below the surface, in m^3/m^3. See Note K. Average soil moisture at 50 cm below the surface, in m^3/m^3. See Note K. Average soil moisture at 100 cm below the surface, in m^3/m^3. See Note K. Average soil temperature at 5 cm below the surface, in degrees C. See Note K. Average soil temperature at 10 cm below the surface, in degrees C. See Note K. Average soil temperature at 20 cm below the surface, in degrees C. See Note K. Average soil temperature at 50 cm below the surface, in degrees C. See Note K. Average soil temperature at 100 cm below the surface, in degrees C. See Note K. "

The descriptions of the columns are quite the mess, as there is no standard separator used. We will have to work our way through it step by step:

In [10]:
first_split = [re.sub(r'(\([^)]*)$', r"\1)", s) for s in descrip_text.split("). ")] # add ')' back after splitting text on ').' 
no_notes = [re.sub(r' See Note [A-Z]\.',"",s) for s in first_split] # drop any references to notes

The third entry in `no_notes` is ready. The last set of descriptions in `no_notes` can be split on `". "`, but the first two sets need special attention. We will pop the last set out and split it, then pop the third set out, and then address the first two sets. At that point we will recombine everything into one list while preserving the original order.

In [11]:
last_set = no_notes.pop().strip().split(". ")
third_set = no_notes.pop() # Note: just a string

In [12]:
def flatten(ls:list): 
  return list(itertools.chain.from_iterable(ls)) 

no_notes = [re.sub(". Time is", " at", s) for s in no_notes]
first_second = flatten([s.split(". ") for s in no_notes])

# Finally:
descriptions = flatten([["Location name for USCRN station"], first_second, [third_set], last_set]) # Description added for "station_location"

In [13]:
header_info = {
  'col_name': columns,
  'description': descriptions, 
  'units': ["X...(Various Lengths)", "XXXXX", "YYYYMMDD", "HHmm", "YYYYMMDD", "HHmm", 
  "XXXXXX","Decimal_degrees", "Decimal_degrees", "Celsius", "Celsius", "Celsius", "Celsius", 
  "mm", "W/m^2", "X", "W/m^2", "X", "W/m^2", "X", "X", "Celsius", "X", "Celsius", "X", 
  "Celsius", "X", "%", "X", "m^3/m^3", "m^3/m^3", "m^3/m^3", "m^3/m^3", "m^3/m^3", "Celsius", 
  "Celsius", "Celsius", "Celsius", "Celsius"] 
  # See: https://www.ncei.noaa.gov/pub/data/uscrn/products/hourly02/readme.txt
  # Contained in: /airflow/data/sources.yaml
}

header_df = pd.DataFrame(header_info)
# header_df.to_csv("../airflow/data/column_descriptions.csv", index=False)

#### 2.) Main Data (>2 million rows)

The main data we're interested in is stored in a nested series of linked HTML pages accessible from [this](https://www.ncei.noaa.gov/pub/data/uscrn/products/hourly02/) index page. 

Pandas has a neat function for reading HTML tables to dataframes (`pd.read_html`). Unfortunately it doesn't work for our present task since these tables are stored as loose text within body elements -- `pd.read_html` relies on explicit HTML table syntax to work. It also isn't ideal for iterating through lots of HTML pages like our task calls for: iteratively creating and appending dataframes is very slow given the size of dataframe objects.

In [3]:
base_url = sources["USCRN"]["index"]
base_soup = BeautifulSoup(requests.get(base_url).content, "html.parser")

In [3]:
def getFileUrls(): 
  links = base_soup.find_all("a") # 'links' in this notebook will refer to <a> elements, not urls
  years = [str(x).zfill(1) for x in range(2000,2024)]
  year_links = [link for link in links if link['href'].rstrip('/') in years]

  file_urls = []
  for year_link in year_links: 
    year_url = base_url + year_link.get("href")
    response = requests.get(year_url) 
    soup = BeautifulSoup(response.content, 'html.parser')
    file_links = soup.find_all('a', href=re.compile(r'AK.*\.txt'))
    if file_links:
      new_file_urls = [year_url + link.getText() for link in file_links]
      file_urls.extend(new_file_urls)
  return file_urls

file_urls=getFileUrls()

In [6]:
rows = []
regex = r"([St.]*[A-Z][a-z]+_*[A-Za-z]*).*.txt" 
for url in file_urls:
  # Get location from url
  file_name = re.search(regex, url).group(0)
  station_location = re.sub("(_formerly_Barrow.*|_[0-9].*)", "", file_name)
  # Get results, add station location
  response = requests.get(url)
  soup = BeautifulSoup(response.content,'html.parser')
  soup_lines = [station_location + " " + line for line in str(soup).strip().split("\n")]
  new_rows = [re.split('\s+', row) for row in soup_lines]
  # Add to list
  rows.extend(new_rows)

Depending on your PC setup, working with large dataframes can crash your kernel (it did in my case). I recommended that you save this dataframe as a .csv after we make it in order to save your progress. That way you can re-read the dataframe rather than re-running previous cells of work.

In [6]:
df = pd.DataFrame(rows, columns=columns) 
# df.to_csv("../airflow/data/uscrn.csv", index=False)
# df = pd.read_csv("../airflow/data/uscrn.csv")

_From the original data source [README](https://www.ncei.noaa.gov/pub/data/uscrn/products/hourly02/readme.txt):_  

_"Missing data are indicated by the lowest possible integer for a given column format, such as -9999.0 for 7-character fields with one decimal place or -99.000 for 7-character fields with three decimal places."_

We can find these missing value indicators by getting the min of each column.

In [151]:
def minMap(df):
    min_values = {}
    for col in df.columns:
        mv = df[col].min()
        min_values[col] = mv
    return min_values

print(minMap(df))

{'station_location': 'Aleknagik', 'wbanno': '23583', 'utc_date': '20230217', 'utc_time': '0000', 'lst_date': '20230217', 'lst_time': '1100', 'crx_vn': '2.424', 'longitude': '-131.59', 'latitude': '55.05', 't_calc': '-0.1', 't_hr_avg': '-0.3', 't_max': '-0.1', 't_min': '-0.1', 'p_calc': '-9999.0', 'solarad': '0', 'solarad_flag': '0', 'solarad_max': '0', 'solarad_max_flag': '0', 'solarad_min': '0', 'solarad_min_flag': '0', 'sur_temp_type': 'C', 'sur_temp': '-0.1', 'sur_temp_flag': '0', 'sur_temp_max': '-0.1', 'sur_temp_max_flag': '0', 'sur_temp_min': '-0.1', 'sur_temp_min_flag': '0', 'rh_hr_avg': '15', 'rh_hr_avg_flag': '0', 'soil_moisture_5': '-99.000', 'soil_moisture_10': '-99.000', 'soil_moisture_20': '-99.000', 'soil_moisture_50': '-99.000', 'soil_moisture_100': '-99.000', 'soil_temp_5': '-0.1', 'soil_temp_10': '-0.1', 'soil_temp_20': '-9999.0', 'soil_temp_50': '-9999.0', 'soil_temp_100': '-9999.0'}

We will replace these values with `NaNs`, but we need to be careful: since the source does not normally have empty records, any `NaNs` entering our pipeline on read will likely come either from errors in the data source or errors in our attempts to read from it. When writing our update DAG, before we replace any values with `NaNs` we'll need to check for `NaNs` and log an alert if any are found. (**TO-DO**).

In [4]:
def transform_dataframe(df):
  # replace missing value designators
  df.replace([-99999,-9999], np.nan, inplace=True) # Can safely assume these are always missing values in every column they appear in
  df = df.filter(regex="^((?!soil).)*$") # vast majority of soil columns have missing data
  df.replace({'crx_vn':{-9:np.nan}}, inplace=True)

  # convert to datetimes
  df['utc_datetime'] = pd.to_datetime(df['utc_date'].astype(int).astype(str) + df['utc_time'].astype(int).astype(str).str.zfill(4), format='%Y%m%d%H%M')
  df['lst_datetime'] = pd.to_datetime(df['lst_date'].astype(int).astype(str) + df['lst_time'].astype(int).astype(str).str.zfill(4), format='%Y%m%d%H%M')

  # drop old date and time columns
  df.drop(['utc_date', 'utc_time', 'lst_date', 'lst_time'], axis=1, inplace=True)

  # reorder columns 
  cols = ['station_location','wbanno','crx_vn','utc_datetime','lst_datetime'] + list(df.columns)[3:-2]
  df = df[cols]

  # add date-added column
  df['date_added_utc'] = datetime.utcnow() 

  return df 
  
df = transform_dataframe(df)

In [11]:
df.sample(5)

,station_location,wbanno,crx_vn,utc_datetime,lst_datetime,longitude,latitude,t_calc,t_hr_avg,t_max,...,sur_temp_type,sur_temp,sur_temp_flag,sur_temp_max,sur_temp_max_flag,sur_temp_min,sur_temp_min_flag,rh_hr_avg,rh_hr_avg_flag,date_added_utc
2040214,Metlakatla,25381.0,2.424,2022-12-05 03:00:00,2022-12-04 18:00:00,-131.59,55.05,0.2,0.2,0.3,...,C,-0.8,0.0,-0.7,0.0,-0.9,0.0,74.0,0.0,2023-02-17 22:33:04.077133
1989977,Glennallen,56401.0,2.515,2022-03-11 22:00:00,2022-03-11 13:00:00,-145.50,63.03,-6.6,-6.4,-6.2,...,C,-4.8,0.0,-4.8,0.0,-4.8,0.0,78.0,0.0,2023-02-17 22:33:04.077133
2155364,Sand_Point,25630.0,2.424,2023-02-10 15:00:00,2023-02-10 06:00:00,-160.47,55.35,2.6,2.6,2.8,...,C,2.0,0.0,2.1,0.0,1.8,0.0,NaN,0.0,2023-02-17 22:33:04.077133
131917,Utqiagvik,27516.0,1.301,2007-06-26 03:00:00,2007-06-25 18:00:00,-156.61,71.32,2.2,2.4,2.8,...,R,8.7,0.0,10.2,0.0,6.8,0.0,NaN,0.0,2023-02-17 22:33:04.077133
1492562,St._Paul,25711.0,2.424,2019-06-22 07:00:00,2019-06-21 22:00:00,-170.21,57.16,8.5,8.7,9.0,...,C,9.1,0.0,9.5,0.0,8.7,0.0,89.0,0.0,2023-02-17 22:33:04.077133

In [12]:
# df.to_csv("../airflow/data/uscrn.csv", index=False <-- Save finalized form of data

In [ ]:
## Saving location names from our dataframe: 
locations = df[['station_location', 'wbanno', 'longitude', 'latitude']].drop_duplicates()
# locations.to_csv("../airflow/data/locations.csv", index=False)

#### Recursive Re-Run 

Here's a refactored version of the above code using recursion and batch processing. You can re-run this cell-block to re-scrape and save the data in a more efficient fashion.

Better yet, this block is available as a separate script in `notebooks/uscrn_scrape.py`. The fastest way to run this would be to open a terminal instance outside of VSCode and run it from the command line: 

```bash

/notebooks$ python3.7 uscrn_scrape.py

```

In [ ]:
import requests
import pandas as pd 
import yaml 
import os
import re
from bs4 import BeautifulSoup

with open ("../airflow/data/sources.yaml", "r") as yaml_file:
  sources = yaml.load(yaml_file, Loader=yaml.FullLoader)

columns = pd.read_csv("../airflow/data/column_descriptions.csv")['col_name']

base_url = sources["USCRN"]["index"]
base_soup = BeautifulSoup(requests.get(base_url).content, "html.parser")

def process_rows(file_urls, row_limit, output_file):
    
    # Get rows for current batch
    rows = []
    regex = r"([St.]*[A-Z][a-z]+_*[A-Za-z]*).*.txt" 
    current_idx=0
    for i, url in enumerate(file_urls[current_idx:]):
      # Get location from url
      file_name = re.search(regex, url).group(0)
      station_location = re.sub("(_formerly_Barrow.*|_[0-9].*)", "", file_name)
      # Get results, add station location
      response = requests.get(url)
      soup = BeautifulSoup(response.content, 'html.parser')
      soup_lines = [station_location + " " + line for line in str(soup).strip().split("\n")]
      new_rows = [re.split('\s+', row) for row in soup_lines]
      # Add to list
      rows.extend(new_rows)
      if len(rows) >= row_limit:
        current_idx=i
        break

    # Create dataframe for current batch
    df = pd.DataFrame(rows, columns=columns)

    # Transform dataframe
    df = transform_dataframe(df)

    # Write dataframe to CSV
    if os.path.isfile(output_file):
        df.to_csv(output_file, mode='a', header=False, index=False)
    else:
        df.to_csv(output_file, index=False)
    if len(rows) >= row_limit:
        # Recursively process remaining rows
        remaining_urls = file_urls[current_idx:]
        process_rows(remaining_urls, row_limit, output_file)
    else:
        rows.clear()

process_rows(file_urls = getFileUrls(), row_limit=100000, output_file="../airflow/data/uscrn.csv")

#### 3.) Upload to BigQuery

In [2]:
df=pd.read_csv("../airflow/data/uscrn.csv")

**Main Data**

In [79]:
%%bash
bq mk -d --location=us-east4 team-week3:alaska

Dataset 'team-week3:alaska' successfully created.

In [3]:
from google.cloud import bigquery
from google.oauth2 import service_account

# Setting certain numeric columns (e.g. crx_vn, the flag columns) as strings will indicate that they are not meant to have arithmetic calculations done on them
schema = [
  bigquery.SchemaField("station_location", "STRING", mode="REQUIRED"), 
  bigquery.SchemaField("wbanno", "STRING", mode="REQUIRED"), 
  bigquery.SchemaField("crx_vn", "STRING", mode="NULLABLE"), 
  bigquery.SchemaField("utc_datetime", "DATETIME", mode="REQUIRED"), 
  bigquery.SchemaField("lst_datetime", "DATETIME", mode="REQUIRED"), 
  bigquery.SchemaField("longitude", "FLOAT", mode="REQUIRED"), 
  bigquery.SchemaField("latitude", "FLOAT", mode="REQUIRED"), 
  bigquery.SchemaField("t_calc", "FLOAT", mode="NULLABLE"), 
  bigquery.SchemaField("t_hr_avg", "FLOAT", mode="NULLABLE"), 
  bigquery.SchemaField("t_max", "FLOAT", mode="NULLABLE"), 
  bigquery.SchemaField("t_min", "FLOAT", mode="NULLABLE"), 
  bigquery.SchemaField("p_calc", "FLOAT", mode="NULLABLE"), 
  bigquery.SchemaField("solarad", "FLOAT", mode="NULLABLE"), 
  bigquery.SchemaField("solarad_flag", "STRING", mode="NULLABLE"), 
  bigquery.SchemaField("solarad_max", "FLOAT", mode="NULLABLE"), 
  bigquery.SchemaField("solarad_max_flag", "STRING", mode="NULLABLE"), 
  bigquery.SchemaField("solarad_min", "FLOAT", mode="NULLABLE"), 
  bigquery.SchemaField("solarad_min_flag", "STRING", mode="NULLABLE"), 
  bigquery.SchemaField("sur_temp_type", "STRING", mode="NULLABLE"), 
  bigquery.SchemaField("sur_temp", "FLOAT", mode="NULLABLE"), 
  bigquery.SchemaField("sur_temp_flag", "STRING", mode="NULLABLE"), 
  bigquery.SchemaField("sur_temp_max", "FLOAT", mode="NULLABLE"), 
  bigquery.SchemaField("sur_temp_max_flag", "STRING", mode="NULLABLE"), 
  bigquery.SchemaField("sur_temp_min", "FLOAT", mode="NULLABLE"), 
  bigquery.SchemaField("sur_temp_min_flag", "STRING", mode="NULLABLE"), 
  bigquery.SchemaField("rh_hr_avg", "FLOAT", mode="NULLABLE"), 
  bigquery.SchemaField("rh_hr_avg_flag", "STRING", mode="NULLABLE"), 
  bigquery.SchemaField("date_added_utc", "DATETIME", mode="REQUIRED")
]

key_path = "/home/alex/.creds/alex-sa-tw3.json"
credentials = service_account.Credentials.from_service_account_file(
   key_path, scopes=["https://www.googleapis.com/auth/cloud-platform"],
)

client = bigquery.Client(credentials=credentials, project=credentials.project_id)

table_id = f"{credentials.project_id}.alaska.uscrn"

jc = bigquery.LoadJobConfig(
   source_format = bigquery.SourceFormat.CSV,
   autodetect=False,
   schema=schema,
   create_disposition="CREATE_IF_NEEDED",
   write_disposition="WRITE_TRUNCATE", 
   destination_table_description="Historical weather data from USCRN stations in Alaska"
)

job = client.load_table_from_dataframe(df, table_id, job_config=jc)

job.result()

LoadJob<project=team-week3, location=us-east4, id=8ce78ae7-e09e-43ed-989c-974ac9b52b51>

**Supplemental Data** (Locations and Column Description tables)

In [23]:
# Locations table
table_id = f"{credentials.project_id}.alaska.locations"

jc = bigquery.LoadJobConfig(
  source_format = bigquery.SourceFormat.CSV,
  autodetect=True,
  create_disposition="CREATE_IF_NEEDED",
  write_disposition="WRITE_TRUNCATE", 
  destination_table_description="Location names, WBANNO codes, and coordinates for USCRN stations in Alaska"
)

with open("../airflow/data/locations.csv", "rb") as fp: 
  job = client.load_table_from_file(fp, table_id, job_config=jc)
job.result()

LoadJob<project=team-week3, location=us-east4, id=4394a74c-7da4-4d32-a3a9-811b40954a97>

In [28]:

# Column description table 
table_id = f"{credentials.project_id}.alaska.column_descriptions"

schema = [ # Col headers not being autodetected
  bigquery.SchemaField("col_name", "STRING", mode="REQUIRED"), 
  bigquery.SchemaField("description", "STRING", mode="REQUIRED"), 
  bigquery.SchemaField("units", "STRING", mode="REQUIRED"),
  
]
jc = bigquery.LoadJobConfig(
  source_format = bigquery.SourceFormat.CSV,
  skip_leading_rows=1,
  autodetect=False,
  create_disposition="CREATE_IF_NEEDED",
  write_disposition="WRITE_TRUNCATE", 
  destination_table_description="Column descriptions for fields in alaska.uscrn table", 
  schema=schema
)

with open("../airflow/data/column_descriptions.csv", "rb") as fp: 
  job = client.load_table_from_file(fp, table_id, job_config=jc)
job.result()

LoadJob<project=team-week3, location=us-east4, id=5b735679-6080-479c-9175-6a95cc755735>